<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<th:block layout:fragment="css"/>
</th:block>
<th:block layout:fragment="script"/>
</th:script>

<div layout:fragment="content">
    <div class="container-fluid text-left" style="margin-bottom: 25px; width: 100%">
        <div class="container">
            <img style="width: 250px; margin-bottom: 55px;" th:src="${challenge.thumbnailImage}"/>
            <span style="padding-left: 10%; font-size: 35px;" th:text="${challenge.booksTitle}";></span>
            <span style="padding-left: 2%; font-size: 35px;" th:text="${challenge.bookStatus}";></span>
            <div th:each="diary : ${diary}">
                <div th:id="${diary.id}">
                    <h4><b>Day: <span th:text="${diary.days}"></span></b></h4>
                    <div>
                        <textarea class="form-control"th:id="${diary.id}+'1'"  style="height: 125px; width: 65%; ">[[${diary.content}]]</textarea>
                        <button class="btn btn-dark" th:onclick="'javascript:modifiable(' + ${diary.id}+1 + ','+ ${diary.days}+');'">수정</button>
                        <button class="btn btn-dark" th:onclick="'javascript:deleteReview(' + ${diary.id} + ');'">삭제</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            $('.form-control').attr('disabled','disabled');
        });

        function modifiable(id, days) {
            if(document.getElementById(id).disabled ){
                document.getElementById(id).disabled = false;
            }else{
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                var newcontent = document.getElementById(id).value;
                var diaryid =  id.toString().substr(-1);
                var days = days;

                var data = {
                    content       : newcontent,
                    id      : diaryid,
                    days         : days
                };

                var jsonData = JSON.stringify(data);

                $.ajax({
                    type: 'put',
                    url: '/api/diaries',
                    data: jsonData,
                    async: true,
                    contentType: "application/json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    error: function (res) {
                        alert(res.responseJSON.result);
                        return false;
                    },
                    success: function (data) {
                        alert(data.result);

                    }
                })

                document.getElementById(id).disabled = true;
            }
        }

        function deleteReview(id) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $.ajax({
                type: 'delete',
                url: '/api/diaries/'+ id,
                async: true,
                contentType: "application/json",
                error: function (err) {
                    console.log(err.toString());
                    alert("서버가 응답하지 않습니다.");
                    return false;
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (data) {
                    console.log(data);
                    document.getElementById(id).remove();
                }
            })
        }
        /*]]>*/
    </script>
</div>
</html>